<p class="readable-copy text-error text-center s-only">The leapdna converter was designed to work in bigger screens. Consider accessing the website through a device with a wider screen such as a desktop or laptop computer.</p>
<div id="convert-app"><p class="loading">Loading...</p></div>

<%= javascript_pack_tag 'convert' %>