<div id="frontpage-hero">
    <h2>
        leapdna is a set of tools to help forensic geneticists <strong>focus on science</strong>, not on computer problems.
    </h2>

    <p>
        Starting with the leapdna file format, we are building different tools to reduce the time people involved with forensic genetics spend manually manipulating data. 
    </p>
</div>

<section id="frontpage-call-to-action">
    <article>
        <h3><span role="image">🔎</span> Explore frequency databases</h3>
        <p>Browse a collection of widely available allele frequency databases and download them in different formats, including leapdna's own.</p>
        <p><%= link_to 'Explore', explore_path, class: 'btn' %></p>
    </article>
    <article>
        <h3><span role="image">🔀</span> Convert file formats</h3>
        <p>Change the format of your own files to the leapdna format or to any of the other supported ones.</p>
        <p><%= link_to 'Convert', convert_path, class: 'btn' %></p>
    </article>
    <article>
        <h3><span role="image">📘</span> The leapdna file format</h3>
        <p>Made of several composable blocks, the leapdna file format is able to represent a wide range of data.</p>
        <p><%= link_to 'Learn more', static_page_path('format'), title: 'Information about leapdna\'s file format', class: 'btn' %></p>
    </article>
</section>


